

  <div class="modal-header">
    <h3 class="modal-title">Eliminar</h3>
  </div>

  <div class="modal-body">

<h3>Estas seguro que desea eliminar?</h3>
  </div>

  <div class="modal-footer">
    <button ng-disabled="formEdit.$invalid"
            ng-click="proDelete.ok()"
            uib-tooltip="Esto actualizara los detalles"
            tooltip-placement="top"
            tooltip-trigger="mouseenter"
            tooltip-enable="true"
            class="btn btn-primary">Eliminar</button>
    <button class="btn btn-warning" type="button" ng-click="proDelete.cancel()">Cancel</button>
  </div>

