<div class="panel panel-default">
  <div class="tablecontainer">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio</th>
        <th>Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="product in vm.products">
        <td>{{product.id}}</td>
        <td>{{product.mark}}</td>
        <td>{{product.model}}</td>
        <td>{{product.price}}</td>
        <!--<td><a ui-sref="main.java.detail({id: inscrito.id})">Editar</a></td>-->
        <td>
          <a href="" ng-show="vm.permissions.hasEdit" ng-click="vm.editProduct(product.id)">Editar</a>
          <a href="" ng-show="vm.permissions.hasDelete" ng-click="vm.deleteProduct(product.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
