<!--
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"
          ng-repeat="category in vm.categories">
        <li><a ui-sref="{{category.state}}">{{category.type}}</a></li>
      </ul>
    </div>
  </div>
  <div ui-view></div>
</div>
-->

<div class="modal-body">
  <ul class="nav nav-tabs nav-justified">
    <li id="campaignReview" data-ng-class="{active: vm.tab.computers.active}">
      <a href data-ng-click="vm.setTab(vm.CATEGORY.COMPUTER)">
        Computers
      </a>
    </li>
    <li id="traffickingContactsSite" data-ng-class="{active: vm.tab.cellphones.active}">
      <a href data-ng-click="vm.setTab(vm.CATEGORY.CELLPHONE)">
        CellPhones
      </a>
    </li>
  </ul>
  <div class="tab-content" data-ng-show="vm.tab.computers.active">
    <!-- <div data-ng-include="'app/category/computer/computer.html'"></div> -->
    <div data-ng-include="'app/category/commons/grid-product.html'"></div>
  </div>
  <div class="tab-content" data-ng-show="vm.tab.cellphones.active">
    <!-- <div data-ng-include="'app/category/cellphone/cellphone.html'"></div> -->
    <div data-ng-include="'app/category/commons/grid-product.html'"></div>
  </div>
</div>
