<div class="modal-header">
  <h3 class="modal-title">Edit</h3>
</div>
<div class="modal-body">

  <form name="formEdit" class="form-horizontal" novalidate>
    <div class="form-group" ng-class="{'has-error': formEdit.marca.$invalid && !formEdit.marca.$pristine}">
      <label class="col-sm-2 control-label">Marca</label>

      <div class="col-sm-10">
        <input name="marca"
               type="text"
               class="form-control"
               ng-model="proDetail.selected.mark"
               required>
            <span class="help-block"
                  ng-show="formEdit.marca.$invalid && !formEdit.marca.$error.minlength && !formEdit.marca.$error.maxlength && !formEdit.marca.$pristine">La marca es requerido
            </span>
            <span class="help-block"
                  ng-show="formEdit.marca.$error.minlength && !formEdit.marca.$pristine">La Marca es muy corto
            </span>
            <span class="help-block"
                  ng-show="formEdit.marca.$error.maxlength && !formEdit.marca.$pristine">La Marca es muy largo
            </span>

      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formEdit.modelo.$invalid && !formEdit.modelo.$pristine}">
      <label class="col-sm-2 control-label">modelo</label>

      <div class="col-sm-10">
        <input name="modelo"
               type="text"
               class="form-control"
               ng-model="proDetail.selected.model"
               required>
            <span class="help-block"
                  ng-show="formEdit.modelo.$invalid &&
                    !formEdit.modelo.$error.minlength &&
                    !formEdit.modelo.$error.maxlength &&
                    !formEdit.modelo.$pristine">El modelo es requerido
            </span>
            <span class="help-block"
                  ng-show="formEdit.modelo.$error.minlength &&
                  !formEdit.modelo.$pristine">El modelo es muy corto
            </span>
            <span class="help-block"
                  ng-show="formEdit.modelo.$error.maxlength &&
                  !formEdit.modelo.$pristine">El modelo es muy largo
            </span>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': formEdit.precio.$invalid && !formEdit.precio.$pristine}">
      <label class="col-sm-2 control-label">precio</label>

      <div class="col-sm-10">
        <input name="precio"
               type="number"
               class="form-control"
               ng-model="proDetail.selected.price"
               required>
            <span class="help-block"
                  ng-show="formEdit.precio.$invalid &&
                    !formEdit.precio.$pristine">El precio es requerido
            </span>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': formEdit.fecha.$invalid && !formEdit.fecha.$pristine}">
      <label class="col-sm-2 control-label">Fecha de Ingreso</label>

      <div class="col-sm-3">
        <p class="input-group">
          <input name="fecha"
                 type="text"
                 class="form-control"
                 uib-datepicker-popup
                 ng-model="proDetail.selected.fecha"
                 is-open="proDetail.isDateOpened"
                 ng-required="true" required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="proDetail.openDateSelector()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
              <span class="help-block"
                    ng-show="formEdit.fecha.$invalid">La fecha es requerida
            </span>
      </div>
    </div>

    <!--
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-disabled="formEdit.$invalid"
                ng-click="proDetail.saveChanges()"
                uib-tooltip="Esto actualizara los detalles"
                tooltip-placement="top"
                tooltip-trigger="mouseenter"
                tooltip-enable="true"
                class="btn btn-primary">Guardar</button>
      </div>
    </div> -->
  </form>

</div>
<div class="modal-footer">
  <button ng-disabled="formEdit.$invalid"
          ng-click="proDetail.ok()"
          uib-tooltip="Esto actualizara los detalles"
          tooltip-placement="top"
          tooltip-trigger="mouseenter"
          tooltip-enable="true"
          class="btn btn-primary">Guardar</button>
  <button class="btn btn-warning" type="button" ng-click="proDetail.cancel()">Cancel</button>
</div>
