<!--
<div class="">
  <div class="container" >
    <div class="row">
      <div class="login-logo col-xs-12">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div>
          <div class="panel-body">
            <form name="login" class="form-horizontal" data-ng-submit="submit()" novalidate>
              <div class="form-group">  <!-- data-ng-class="{'has-error': login.username.$touched && login.username.$invalid}" -->
<!--               <div class="col-xs-12">
                 <!--  <input type="text" name="username" class="form-control"
                         placeholder="username" data-ng-model="loginAccess.username" required />
                  <!-- <span class="fa fa-envelope form-control-feedback text-muted"></span>
                                    <span data-ng-show="login.username.$touched &amp;&amp; login.username.$error.required"
                                          class="text-danger">validation required</span>
                                    <span data-ng-show="login.username.$touched &amp;&amp; login.username.$error.email"
                                          class="text-danger">validation error</span>-->
<!--                 <input type="text" name="user" class="form-control"
                        placeholder="user" data-ng-model="loginAccess.user" required />
               </div>
             </div>
             <div class="form-group has-feedback"
                  data-ng-class="{'has-error': login.password.$touched && login.password.$invalid}">
               <div class="col-xs-12">
                 <input type="password" name="password" class="form-control"
                        placeholder="password" data-ng-model="loginAccess.password" required />
                 <!--<span class="fa fa-lock form-control-feedback text-muted"></span>
                                  <span data-ng-show="login.password.$touched &amp;&amp; login.password.$error.required"
                                        class="text-danger">Error</span>-->
<!--              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <button type="submit" data-ng-disabled="login.$invalid || login.$pristine"
                        class="btn btn-lg btn-primary btn-block" id="btn-login">
                  login
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<form name="userForm">
  <div class="form-group" ng-class="{ 'has-error': userForm.name.$invalid }">
    <input type="text" class="form-control" name="name" ng-model="user.name" required>
  </div>
  <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid }">
    <input type="email" class="form-control" name="email" ng-model="user.email" required>
  </div>
</form>





<form name="userForm">
  <div class="form-group" show-errors>
    <input type="text" class="form-control" name="name" ng-model="user.name" required />
    <p class="help-block" ng-if="userForm.name.$error.required">The user's name is required</p>
  </div>
  <div class="form-group" show-errors>
    <input type="email" class="form-control" name="email" ng-model="user.email" required />
    <p class="help-block" ng-if="userForm.email.$error.required">The user's email is required</p>
    <p class="help-block" ng-if="userForm.email.$error.email">The email address is invalid</p>
  </div>
</form>-->

<!--
<div class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div>
          <div class="panel-body">

            <form name="userForm" class="form-horizontal" c>
              <div class="form-group">
                <!-- data-ng-class="{'has-error': login.username.$touched && login.username.$invalid}" -->
<!--        <div class="col-xs-12">

            <input type="text" name="user" class="form-control"
                       placeholder="user" data-ng-model="loginAccess.user" required />
           <input type="text" class="form-control" name="name" ng-model="user.name" required>
          </div>
        </div>
        <div class="form-group has-feedback"
             data-ng-class="{'has-error': login.password.$touched && login.password.$invalid}">
          <div class="col-xs-12">
            <input type="password" name="password" class="form-control"
                   placeholder="password" data-ng-model="loginAccess.password" required/>
            <span class="fa fa-lock form-control-feedback text-muted"></span>
                             <span data-ng-show="login.password.$touched &amp;&amp; login.password.$error.required"
                                   class="text-danger">Error</span>
         </div>
         </div>
         <div class="form-group">
           <div class="col-xs-12">
             <button type="submit" data-ng-disabled="login.$invalid || login.$pristine"
                     class="btn btn-lg btn-primary btn-block" id="btn-login">
               login
             </button>
           </div>
         </div>
       </form>

     </div>
   </div>
 </div>
</div>
</div>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel-body">
        <form name="userForm" class="form-horizontal" data-ng-submit="submit()" novalidate>

          <div class="form-group">
            <div class="col-xs-12">
              <input type="text" placeholder="username" class="form-control" name="username" ng-model="user.name"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <input type="password" placeholder="password" class="form-control"  ng-model="user.password"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12">
              <button type="submit" data-ng-disabled="userForm.$invalid || userForm.$pristine"
                      class="btn btn-lg btn-primary btn-block" id="btn-login">
                login
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>







































